<div class="headline">À propos d'Alfar</div>

<mat-card>
    <mat-card-header>

        <mat-card-title>Alfar</mat-card-title>
        <mat-card-subtitle>Nom de branche à partir de Jira</mat-card-subtitle>
    </mat-card-header>

    <mat-divider></mat-divider>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <fa-icon [icon]="faArchive" class="icon"></fa-icon>
                v{{appVersion}}
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <fa-icon [icon]="faUser" class="icon"></fa-icon>
                Auteur&nbsp;
                <a href="https://github.com/malbaladejo" target="_blank">https://github.com/malbaladejo</a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <fa-icon [icon]="faGithub" class="icon"></fa-icon>
                Source&nbsp;
                <a href="https://github.com/malbaladejo/Alfar" target="_blank">https://github.com/malbaladejo/Alfar
                </a>
            </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <fa-icon [icon]="faAngular" class="icon"></fa-icon>
                <a href="https://angular.io/" target="_blank">Angular: 9.1.9</a>
            </mat-list-item>
        </mat-list>
    </mat-card-content>


</mat-card>