<mat-sidenav-container class="sidenav-container">

    <mat-sidenav mode="over" [(opened)]="isSideNavOpened">
        <button mat-icon-button (click)="toggleSideNav()">
            <mat-icon>keyboard_backspace</mat-icon>
        </button>
        <mat-action-list>
            <button mat-list-item routerLink='/' (click)="navigateTo()">
                <fa-icon [icon]="faHome" class="icon"></fa-icon> Accueil
            </button>

            <button mat-list-item routerLink='about' (click)="navigateTo()">
                <fa-icon [icon]="faQuestionCircle" class="icon"></fa-icon> À propos
            </button>
        </mat-action-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary" class="mat-elevation-z6">
            <button mat-icon-button (click)="toggleSideNav()">
                <mat-icon>menu</mat-icon>
            </button>
            <buton mat-button routerLink='/'>Alfar</buton>
            <span class="spacer"></span>
        </mat-toolbar>
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>